@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/GothamPro.ttf") format("truetype"),
		url("../fonts/GothamPro.woff") format("woff"),
		url("../fonts/GothamPro.woff2") format("woff2");
}

@font-face {
	font-family: "GothamProBold";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/GothamProBold.ttf") format("truetype"),
		url("../fonts/GothamProBold.woff") format("woff"),
		url("../fonts/GothamProBold.woff2") format("woff2");
}

@font-face {
	font-family: "Geometria";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Geometria.ttf") format("truetype"),
		url("../fonts/Geometria.woff") format("woff"),
		url("../fonts/Geometria.woff2") format("woff2");
}