.slider {
    figure {
        margin: 0;
        
        a {
            display: inline-block;
        }
        svg {
            top: 20%;
            right: 0;
            z-index: 1;
            background: $white;
            border-radius: 50%;
            transform: rotate(20deg);
            transition: top .3s ease-in-out;
        }
    }
    img {
        max-width: 186px;
        max-height: 40vh;
        opacity: 0.4;
        transform: scale(0.9);
        transition: all .3s ease-in;
        @media (max-width:1278px) {max-width: 150px;}
        @media (max-width:768px) {
            max-width: 100px;
            
            &{
                opacity: 1;
                transform: scale(1) !important;
                filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
                max-width: 85%;
                max-height: 60vh;
            }
        }
    }
    .slick-slide{
        
        &:hover{
            color: $black !important;
            
            img{
                opacity: 1;
                transform: scale(1) !important;
                filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
            }
        }
        
        @media (max-width:768px){
            &{
                color: $black !important;
                font-size: 16px;
                
                img{
                    opacity: 0.8;
                    transform: scale(0.8) !important;
                }
            }
            &:hover{
                img{
                    opacity: 0.8;
                    transform: scale(0.8) !important;
                }
            }
            &.slick-center{
                img{
                    opacity: 1;
                    transform: scale(1) !important;
                }
            }
        }
    }
    @media (orientation:portrait) {margin-top: 15vh;}
}

.slick-center {
    figure {
        svg {
            top: 0;
        }
    }
}