@import '_fonts', '_vars', '_tools', "_global", "_phoneslider";

body {
    background: $white;
    display: flex;
    flex-direction: column;
    @extend %fixed_fullscreen;
}

.wrapper {
    background: $main_bg;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    @extend %flex-wrap;
    justify-content: space-between;
    padding: 1.5em 2.2em;
    
    > .top{
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 100%;
        justify-content: space-between;
        
        a.home,
        a.cart{
            width: 50px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            @include rounded_button;
            
            @media (max-width:768px) {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        a.home {
            background-image: url(../img/home.svg); // Could be changed to png extension
        }
        a.cart {
            background-image: url(../img/cart.svg); // Could be changed to png extension
        }
        ul.mode{
            li {
                display: inline-block;
                
                &+li {
                    margin-left: 3em;
                    @media (max-width:480px) {margin-left: 1em;}
                }
                .big_btn {
                    font-size: 1em;
                    line-height: 1.5em;
                    font-weight: bold;
                    font-family: inherit;
                    padding: 1em 0;
                    height: auto;
                    width: 13em;
                    @include rounded_button;

                    &:not(.selected) {
                        box-shadow: unset;
                    }
                    &.selected {
                        background-color: $zapleo_orange;
                        color: $white;
                    }

                    @media (max-width:480px) {
                        font-size: 1.3em;
                        line-height: 1em;
                        width: 11em;
                    }
                }
            }
        }
    }
    ul.brands{
        flex: 1 1 100%;
        text-align: center;
        font-size: 0.82em;
        color: $grey;
        margin-top: 3em;
        li {
            display: inline-block;
            &+li {
                margin-left: 3em;
            }
        }
        a {
            &::after {
                content: "";
                display: block;
                margin: 1px auto 0 0;
                height: 3px;
                width: 0;
                background-color: $zapleo_orange;
                transition: width .25s ease-in-out;
            }
        }
        .current {
            color: $black;
            &::after {@extend %width100;}
        }
        @media(max-width: 768px){
            &{
                font-size: 1.5em;
            }
        }
    }
    > h1 {
        @extend %width100;
        text-align: center;
        font-size: calcFluidSize(24, 100, 320, 1440);
        font-family: "GothamProBold", sans-serif;
        margin-bottom: 0;
        text-transform: uppercase;
        color: $white;
        @media (max-width:700px) and (orientation:landscape) {
            margin-top: 2px;
            font-size: 2em;
        }
    }
}



.selected {
    background-color: $zapleo_orange;
    color: $white;
}